// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system
// ** I know it's not orange I was just too lazy to find all occurrences of this variable name and
// ** change it to something like blue
$orange: #3772d1;

// Override Bootstrap default state colors

$primary: $orange;
